---
apiVersion: v1
kind: Service
metadata:
  name: crowdsec-bouncer
  namespace: security
  labels:
    app: crowdsec-bouncer
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: crowdsec-bouncer
